.back { 
    background-color: #eee;
    min-height: 650px;
}

form {
    margin: 80px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #fdfdfd;
}

p {
    color: rgb(0, 0, 0);
}

button {
    margin-top: 20px;
}

input {
    width: 281px; 
}

label {
    padding-top: 20px;
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 22px;
}

img {
    width: 400px;
    height: 300px;
    margin-top: 80px;
    margin-right: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}
.couleur{
    background-color: #8ea638;
    padding: 20px;
    height: 80px;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.paddingFo{
    padding: 25px;
}
.btnAn{
    background-color: #343a40;
}
.btnVa{
    background-color: #8ea638;
}
