<div class="back">
  <div class="container">
    <div class="row">
      <form>
        <div class="couleur">
          <h1>{{plat?.name}}</h1>
        </div>
        <div class="paddingFo">
        <label for="description">Description</label><br>
        <p>{{plat?.description}}</p>
        <label for="prix">Prix</label><br>
        <p>{{plat?.price}} Euros</p>
        <button class="btn btn-dark float-right btnAn" [routerLink]="['/menu']">Retour</button>
        <button class="btn btn-success btnVa" (click)="order66(plat)"> Commander </button>
      </div>
      </form>
      <img src="{{plat?.image}}" alt="Image du plat">
    </div>
  </div>
</div>
