#back { 
    background-color: #eee;
	height: 650px;
	padding-top: 80px;
}
.form-style{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
	border-radius: 10px;
}
.form-style h1{
	background: #B72D01;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.form-style input[type="email"],
.form-style input[type="password"]
{
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-style input[type="email"]:focus,
.form-style input[type="password"]:focus
{
	box-shadow: 0 0 5px #B72D01;
	padding: 3%;
	border: 1px solid #B72D01;
}
.btnValider{
	display: inline-block;
	padding: 5px 25px;
	margin-left:20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #fff;
    border: 1.5px solid #B72D01;
    border-radius: 15px;
}
.btnValider:active {
  transform: translateY(1px);
}
.btnAnnuler{
	display: inline-block;
	padding: 5px 25px;
	margin-left: 70px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: black;
    background-color: #fff;
    border: 1.5px solid #B72D01;
    border-radius: 15px;
}
.btnAnnuler:active {
	transform: translateY(1px);
  }
 .error{
	 color:red;
	 text-align: center;
	 text-decoration: underline;
 }