<div id="back">
  <div class="form-style">
    <h1>Connexion au compte</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login(f)" #f="ngForm">
      <div class="error" *ngIf="loginForm.controls.connexion.controls.email.hasError('pattern')"><strong>X</strong>
         Email/Mot de passe incorrect</div>
        <br>
      <div formGroupName="connexion">
        <input type="email" name="email" placeholder="E-mail" formControlName="email" required />
        <br>
        <input type="password" name="password" placeholder="Mot de passe" formControlName="password" required/>
        <button type="submit" class="btnValider" >Valider</button>
        <button class="btnAnnuler" (click)="annuler()">Annuler</button>
      </div>
    </form>
  </div>
</div>
  