li {
    list-style: none;
}

h1 {
    margin-top: 0;
    padding-top: 20px;
    text-decoration: underline;
    font-family: 'Amatic SC', cursive;
    font-size:45px;
}

.legales {
    text-align: center;
    background-color: #343a40;
    color: white;
    padding-bottom: 20px;
}

a {
    color: white;
    font-family: 'Bree Serif', serif;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
}