<div id="back">

  <h2>Commandes en attentes</h2>
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let liste of listes | search: term" style="width: 18rem;">
        <img class="card-img-top" src="{{ liste.values.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> {{ liste.values.name }} </h5>
          <p class="card-text"> {{ liste.values.description }} </p>
          <button class="btn btn-secondary float-left" [routerLink]="['/info', liste.key]">Infos</button>
          <button class="btn btn-success"> Commander </button>
          <button id="btnT" class="btn btn-info float-right"> {{ liste.values.prix }} €</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Commandes en préparations</h2>
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let liste of listes | search: term" style="width: 18rem;">
        <img class="card-img-top" src="{{ liste.values.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> {{ liste.values.name }} </h5>
          <p class="card-text"> {{ liste.values.description }} </p>
          <button class="btn btn-secondary float-left" [routerLink]="['/info', liste.key]">Infos</button>
          <button class="btn btn-success"> Commander </button>
          <button id="btnT" class="btn btn-info float-right"> {{ liste.values.prix }} €</button>
        </div>
      </div>
    </div>
  </div>

  <h2>Commandes terminées</h2>
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let liste of listes | search: term" style="width: 18rem;">
        <img class="card-img-top" src="{{ liste.values.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> {{ liste.values.name }} </h5>
          <p class="card-text"> {{ liste.values.description }} </p>
          <button class="btn btn-secondary float-left" [routerLink]="['/info', liste.key]">Infos</button>
          <button class="btn btn-success"> Commander </button>
          <button id="btnT" class="btn btn-info float-right"> {{ liste.values.prix }} €</button>
        </div>
      </div>
    </div>
  </div>

