#back { 
    background-color: #eee;
    min-height: 650px;
}

h2 {
    text-align: center;
    color: #343a40;
    padding-top: 50px;
}

table {
  max-width: 800px;
  margin: 40px auto;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center;
}

p {
  text-align: left;
}