<div id="back">
  <div class="container-fluid">
    <div class="row">
      <div class="example-container">
        
        <h2>En attente</h2>
        <div cdkDropList #commandesList="cdkDropList" [cdkDropListData]="commandes" [cdkDropListConnectedTo]="[preparationsList, terminesList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let commande of commandes" cdkDrag>{{commande.name}} <div
              *cdkDragPreview> <img src="{{commande.image}}" alt=""> </div>
          </div>
        </div>
      </div>

      <div class="example-container">
        <h2>En préparation</h2>
        <div cdkDropList #preparationsList="cdkDropList" [cdkDropListData]="preparations" [cdkDropListConnectedTo]="[commandesList, terminesList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let preparation of preparations" cdkDrag>{{preparation.values.name}}</div>
        </div>
      </div>

      <div class="example-container">
        <h2>Terminées</h2>
        <div cdkDropList #terminesList="cdkDropList" [cdkDropListData]="termines" [cdkDropListConnectedTo]="[commandesList, preparationsList]"
          class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let termine of termines" cdkDrag>{{termine.values.name}}<button
              mat-raised-button color="warn" (click)="delete(termine.key)">Delete</button></div>
        </div>
      </div>
    </div>
  </div>
