#back { 
    background-color: #eee;
    min-height: 650px;
}

.container {
    text-align: center;
    padding-top: 25px;
}

#checkbox {
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    width: 550px;
    border:solid;
    padding: 10px;
}
h2{
    font-size: 30px;
}

label {
    padding-left: 20px;
}

input {
    border-radius: 15px;
}

.card {
    margin: 30px auto;
    min-height: 400px;
}

h5 {
    text-align: center;
}

p {
    min-height: 48px;
}

img {
    width: 286px;
    height: 226px;
}

.d-flex {
    max-height: 30px;
}

button {
    font-size: 14px;
}
.column{
    display: flex;
    flex-wrap: wrap;
}