#back {
    background-color: #eee;
    min-height: 2400px;
}

h2 {
    text-align: center;
    padding-top: 20px;
}

p {
    margin: 30px 30px 0 30px;
    padding-bottom: 30px;
    text-align: justify;
}

.map {
    background-color: white;
    min-width: 350px;
    min-height: 450px;
    margin: 80px auto;
}

button {
    font-size: 30px;
    margin: 30px auto;
}

@media (min-height:1000px) {
    #back {
        min-height: 800px;
    }   
}

@media (min-height:1300px) {
    #back {
        min-height: 1150px;
    }
}

agm-map {
  height: 100%;
}
.border-horaire{
    margin-top: 80px;
}
.titre-horaire{
    color:white;
    text-decoration: underline;
    font-size: 25px;
    text-align: center;
}
td{
    text-align: center;
    padding: 25px;
}
th{
    text-align: center;
    padding: 15px;
}
