<div id="back">
  <div class="container">
    <div class="row">
      <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <div class="border-horaire">
          <p class="titre-horaire">Horaire : </p>
          <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Lundi</th>
                  <th scope="col">Mardi</th>
                  <th scope="col">Mercredi</th>
                  <th scope="col">Jeudi</th>
                  <th scope="col">Vendredi</th>
                  <th scope="col">Samedi</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">11h30 <br> 14h00</th>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Pleine Image <br>99 Avenue Boulevard Constantin Descat</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                </tr>
                <tr>
                  <th scope="row">15h30 <br> 17h00</th>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                </tr>
                <tr>
                  <th scope="row">18h30 <br> 23h00</th>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                  <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>

  </div>
</div>
