<div id="back">
  <div class="container">
    <div class="row">
      <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
        <div class="border-horaire">
          <p class="titre-horaire">Horaire : </p>


        </div>
        <div>
          <mat-tab-group>

            <mat-tab label="Lundi">
              <th scope="row">11h30 <br> 14h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">15h30 <br> 17h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">18h30 <br> 22h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
            </mat-tab>

            <mat-tab label="Mardi">
              <th scope="row">11h30 <br> 14h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">15h30 <br> 17h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">18h30 <br> 22h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
            </mat-tab>

            <mat-tab label="Mercredi">
              <th scope="row">11h30 <br> 14h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">15h30 <br> 17h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">18h30 <br> 22h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
            </mat-tab>

            <mat-tab label="Jeudi">
              <th scope="row">11h30 <br> 14h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">15h30 <br> 17h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">18h30 <br> 22h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
            </mat-tab>

            <mat-tab label="Vendredi">
              <th scope="row">11h30 <br> 14h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">15h30 <br> 17h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">18h30 <br> 22h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
            </mat-tab>

            <mat-tab label="Samedi">
              <th scope="row">11h30 <br> 14h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">15h30 <br> 17h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
              <br>
              <th scope="row">18h30 <br> 22h00</th>
              <td>Lille 59000<br>Euratechnologie <br>165 Avenue de Bretagne</td>
            </mat-tab>

        </mat-tab-group>
      </div>
      </div>
      
    </div>

  </div>
  <div id="back1">
      <div class="container">
        <div class="row text-center">
          <div class="who">
            <div class="couleur">
              <h2>Contact</h2>
            </div>
            <div class="form1" *ngIf="isLoaded">
              <div class="contact">
                <img src="assets/img/envelope.png" alt="Logo food-truck">
                <span class="e_color"> {{ donnees[0].email }}</span>
              </div>
              <br>
              <div class="contact">
                <img src="assets/img/smartphone-call.png" alt="Logo food-truck">
                <span class="e_color">{{ donnees[0].tel }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
