<div id="back">
  <div class="container-fluid">
    <div class="row">
      <cart-view class="col-md-12" [localeFormat]="'€'"  [emptyText]="headers.empty" [nameHeaderText]="headers.name" [quantityHeaderText]="headers.quantity"
        [priceHeaderText]="headers.price" [totalHeaderText]="headers.total" [taxFooterText]="footers.tax"
        [shippingFooterText]="footers.shipping" [totalFooterText]="footers.total">
      </cart-view>
    <cart-checkout [service]="'paypal'" settings="settings">
    </cart-checkout>   
   </div>
  </div>
</div>
