#back { 
    background-color: #eee;
    min-height: 520px;
}

cart-view {
    margin: 80px auto;
    background-color:white;
    border:solid 1px;
    max-width: 1000px;
}

cart-checkout {
    margin: 0 auto;
    margin-bottom: 80px;
}

button {
    margin: 0 auto;
}
.btn-dark{
    display: inherit;
    padding:15px;
}