ul {
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.row {
    margin: 0 auto;
}

a {
    text-align: center;
    display: block;
    font-family: 'Bree Serif', serif;
}

h2 {
    color: white;
    font-family: 'Amatic SC', cursive;
}

#gcom {
    border: 2px solid #B72D01;
    border-radius: 5px;
}
.btnVa{
    background-color: #8ea638;
}

button {
    font-family: 'Bree Serif', serif;
}