ul {
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

a {
    text-align: center;
    display: block;
}

h2 {
    color: white;
}

#gcom {
    border: 2px solid #3F51B5;
    border-radius: 5px;
}