<nav class="navbar navbar-expand-md navbar-dark bg-dark text-center">
  <div class="mr-auto center">
    <h2>Barre d'administration</h2>
    <ul class="navbar-nav">
      <li class="nav-item mr-1">
        <a id="gcom" class="nav-link" routerLink="gcom" matBadge="{{liste}}" (click)="refresh()" matBadgePosition="before"
          matBadgeColor="warn">Gestion des commandes</a>
      </li>
      <li class="nav-item mr-1">
        <button class="btn btn-success" (click)="change(status)" [ngClass]="{'button:btn-success': status === 'Ouvert', 'button: btn-danger': status === 'Fermé'}">
          {{status}} </button>
        <a class="nav-link" routerLink="gcarte">Gestion de la carte</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="add">Ajouter un plat</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="addcat">Ajouter une catégorie de plat</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="addContact">Formulaire Contact</a>
      </li>
    </ul>
  </div>
</nav>
