#back { 
    background-color: #eee;
    min-height: 650px;
}

.container {
    text-align: center;
    padding-top: 25px;
}

#checkbox {
    margin: 0 auto;
    background-color: white;
    color:black;
    border-radius: 5px;
    width: 550px;
    padding: 10px;
}
h2{
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}

label {
    padding-left: 20px;
    font-family: 'Bree Serif', serif;
}

input {
    border-radius: 15px;
}

.card {
    margin: 30px auto;
    min-height: 400px;
    background-color: #f5f3eb;
}

h3 {
    text-align: center;
    color: #584A42;
    font-family: 'Kaushan Script', cursive;
    font-size: 23px;
}

p {
    min-height: 48px;
    color: #584A42;
    font-family: 'Bree Serif', serif;
}

img {
    width: 286px;
    height: 226px;
}

.card-body {
    height: 178px;
}

button {
   font-size: 14px;
   font-family: 'Bree Serif', serif;
}

#btnT {
    width: 75px;
}
.column{
    display: flex;
    flex-wrap: wrap;
}
@media all and (min-width: 350px) and (max-width: 949px){
    #checkbox{
        max-width: 340px;
    }
}
.btnCo{
    background-color: #343a40;
}
.btnVa{
    background-color: #8ea638;
}
