#back { 
    background-color: #8E9886;
    min-height: 650px;
}

.container {
    text-align: center;
}

input {
    margin-top: 25px;
    width: 320px;
    border-radius: 15px;
    padding-left: 10px;
}