<div id="back">
  <div class="container">
    <div class="column">
      <div id="checkbox">
        <h2>Que voulez vous manger ?</h2>
        <label>
          <input type="radio" name="role-group" value="" [checked]="searchTerm===''" [(ngModel)]="term"> Tout
        </label>
        <label *ngFor="let cat of categories ">
          <input type="radio" name="role-group" value="{{cat.values.name}}" [checked]="searchTerm===''" [(ngModel)]="term">
          {{cat.values.name}}
        </label>
      </div>
    </div>
 


    <div class="row ">
      <div class="card" *ngFor="let liste of listes | search: term" style="width: 18rem;">
        <img class="card-img-top" src="{{ liste.values.image }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"> {{ liste.values.name }} </h5>
          <p class="card-text"> {{ liste.values.description }} </p>
          <button class="btn btn-secondary float-left" [routerLink]="['/info', liste.key]">Infos</button>
          <button class="btn btn-success" (click)="order66(liste.values)"> Commander </button>
          <button id="btnT" class="btn btn-info float-right"> {{ liste.values.prix }} €</button>
        </div>
      </div>
    </div>
  </div>
</div>
