<div id="back">
  <div class="container">
    <div class="column">
      <div id="checkbox">
        <h2>Que voulez vous manger ?</h2>
        <label>
          <input type="radio" name="role-group" value="" [checked]="searchTerm===''" [(ngModel)]="term"> Tout
        </label>
        <label *ngFor="let cat of categories ">
          <input type="radio" name="role-group" value="{{cat.name}}" [checked]="searchTerm===''" [(ngModel)]="term">
          {{cat.name}}
        </label>
      </div>
    </div>
 


    <div class="row ">
      <div class="card" *ngFor="let liste of listes | search: term; let i = index" style="width: 18rem;">
        <img class="card-img-top" src="{{ liste.image }}" alt="Card image cap">
        <div class="card-body">
          <h3 class="card-title"> {{ liste.name }} </h3>
          <p class="card-text"> {{ liste.description }} </p>
          <button class="btn btn-secondary float-left btnVa" [routerLink]="['/info', liste.id]">Infos</button>
          <!--<button class="btn btn-secondary btnCo" (click)="order66(liste.values)"> Commander </button>-->  
          <add-to-cart [item]="products[i]" [custom]="true">
              <button type="button" class="btn btn-secondary btnCo"> Commander </button>
           </add-to-cart>
          <button id="btnT" class="btn btn-info float-right"> {{ liste.price }} €</button>
        </div>
      </div>
    </div>
</div>
