<div id="back">
  <div class="container">
    <div class="row">
      <div class="who">
        <h2 class="titre" id="retourHaut">Cookie / Vie privé</h2>
        <h5 class="art">Cookie</h5>
        <p class="paragraphe"> Lors de votre navigation sur nos sites ou applications, des cookies sont déposés sur
          votre terminal.<br><br>
          Un cookie est un fichier qui collecte des informations relatives à votre navigation : il s’agit d’un témoin
          de connexion.<br><br>
          Ces fichiers peuvent être stockés sur tout type de terminal relié à internet tel que votre ordinateur, votre
          tablette, votre smartphone.<br><br>
          Nous utilisons différentes typologies de cookies.</p>
        <h5 class="art">Cookies techniques</h5>
        <p class="paragraphe">Nous déposons sur votre terminal des cookies dit « techniques » qui sont nécessaires à la
          fourniture
          des services que vous sollicitez sur notre site ou application. Ce type de cookies est essentiel
          pour assurer le bon fonctionnement de notre site internet ou de notre application et pour garantir la
          sécurité de votre navigation.<br><br>
          Il s’agit par exemple des cookies « identifiant de session » ou des cookies permettant d’adapter l’affichage
          aux spécificités de votre navigateur.</p>
        <h5 class="art">Cookies d’analyse de votre navigation</h5>
        <p class="paragraphe"> Sous réverse d’accord de votre part, nous utilisons également des cookies nous
          permettant d’analyser votre
          navigation. Ces cookies ont les finalités suivantes :<br><br>
          Cookies de statistiques et de mesure d’audience : Ces cookies permettent à nous et à nos partenaires, de
          mesurer et d’analyser l’audience de nos contenus et de réaliser des statistiques afin d’améliorer la qualité
          de nos services et d’optimiser votre navigation.<br><br>
          Cookies de personnalisation : Ces cookies nous permettent à nous et à nos partenaires de personnaliser le
          contenu que nous vous proposons afin qu’il soit adapté à vos besoins : par exemple la langue utilisée ou le
          type de navigateur.<br><br>
          Cookies publicitaires : Ces cookies, seuls ou combinés à d’autres données collectées, nous permettent à nous
          et à nos partenaires d’analyser vos centres d’intérêt ou vos besoins afin de vous soumettre des publicités
          ciblées ou de vous proposer des offres ou des services personnalisés. La désactivation de ce type de cookies
          ne signifie pas que vous ne serez plus destinataires de publicité, mais seulement que celles-ci ne seront
          plus personnalisées.</p>
      </div>
    </div>
  </div>
</div>
