ul {
    margin: 0 auto;
}

#navbarDropdown {
    color: white;
    background-color: green;
    border-radius: 10px;
}

a {
    text-align: center;
    display: block;
}

.dropdown:hover .dropdown-menu {display: block;}