ul {
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

a {
    text-align: center;
    display: block;
    font-family: 'Bree Serif', serif;
}

button {
    font-family: 'Bree Serif', serif;
}
.btn{
    background-color:#343a40;
}

cart-summary {
    height: 50px;
    padding: 12px;
    margin: 0;
}

row {
    margin: 0 auto;
}

cart-summary {
    cursor: pointer;
}