.container-fluid {
  background-color: #B72D01;
  margin: 0px;
  padding: 0px;
}

h1 {
  text-align: center;
  width: 270px;
  /*margin: 10px auto;*/
}

button {
  margin: 20px 5px 20px 5px;
  font-family: 'Bree Serif', serif;
}

img {
  width: 80px;
  height: 80px;
}

@media (max-width: 950px) {
  img {
      display: none;
  }
  .logo{
     padding-top: 80px;
     margin: 0 auto;
  }
  .btn-container{
    margin:0px auto;
  }
}
@media all and (min-width: 480px) and (max-width: 949px){
  .logo{
    padding-top: 60px;
    margin:0 auto;
 }
 .btn-container{
   padding-top:60px;
  margin:0px auto;
}
}

a {
    text-decoration: none;
    color: white;
    
}
.ferm{
  color:red;
  border:solid 2px black;
  margin: 25px;
  padding: 15px;
  font-weight: bold;
  width:200px;
}
.ouv{
  color:#28a745;
  border:solid 2px #28a745;
  margin: 25px;
  padding: 15px;
  font-weight: bold;
  width:210px;
}
.couleur{
  color:black;
}
.btn-container{
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo{
  display:flex;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

.titre-item {
  position: absolute;
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-family: 'Amatic SC', cursive;
  font-size: 65px;
}
.btn{
  background-color:#343a40;
  border:black;
}

