<div class="container-fluid">
    <h1 class="titre-item"><a [routerLink]="['/home']">Super Naturel</a></h1>
  <div class="header">
    <div class="logo">
      <img src="assets/img/food-truck.png" alt="Logo food-truck">
      <div [ngClass]="{ouv: orderService.status == 'Ouvert' ,ferm: orderService.status == 'Fermé' }">
        <span class="couleur">Actuellement : </span>{{ orderService.status }}
      </div>
    </div>
    <div class="btn-container">
      <button class="btn btn-dark" routerLink="register" *ngIf="!authStatus">M'inscrire</button>
      <button class="btn btn-dark" routerLink="login" *ngIf="!authStatus">Me connecter</button>
      <button class="btn btn-dark" routerLink="account" *ngIf="authStatus">Mon Compte</button>
      <button class="btn btn-danger" (click)="signOut()" *ngIf="authStatus">Me déconnecter</button>
    </div>
  </div>
</div>

