.back {
    background-color: #eee;
    min-height: 650px;
}


img {
    width: 500px;
    height: 400px;
    margin-top: 150px;
    margin-right: 150px;
    border: 2px solid black;
    border-radius: 10px;
}

form {
    margin: 80px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffffff;
}

button {
    margin-top: 20px;
}

input {
    width: 281px; 
}

label {
    padding-top: 20px;
    color: rgb(0, 0, 0);
}


h1 {
    text-align: center;
    color: white;
}
.couleur{
    background-color: #B72D01;
    padding: 20px;
    height: 80px;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.paddingFo{
    padding: 25px;
}


