.back { 
    background-color: #8E9886;
    min-height: 650px;
}

form {
    margin: 80px auto;
    border: 2px solid black;
    border-radius: 10px;
    /* padding: 30px; */
    background-color: #ffffff;
}
.paddingFo{
    padding: 25px;
}

button {
    margin-top: 20px;
}

input {
    width: 281px; 
}

label {
    padding-top: 20px;
    color: rgb(0, 0, 0);
}


h1 {
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    color: rgb(0, 0, 0);
    text-align: center;
}
.couleur{
    background-color: #B9D9A9;
    padding: 20px;
    height: 80px;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}