<div class="back">
<div class="container">
  <div class="row">
    <form (ngSubmit)="editProfil(f)" #f="ngForm">
      <h1>Mon profil</h1>
      <p>Bonjour {{user?.mail}}</p>
      <label for="name">Nom</label><br>
      <input type="text" name="name" [ngModel]="user?.name"><br>
      <label for="mail">Mail</label><br>
      <input type="text" name="mail" [ngModel]="user?.mail"><br>
      <label for="mdp">Nouveau mot de passe</label><br>
      <input type="text" name="mdp" [ngModel]="user?.mdp"><br>
      <button class="btn btn-info" type="submit">Modifier</button>
      <button class="btn btn-info float-right" [routerLink]="['/menu']">Retour</button>
    </form>
  </div>
</div>
</div>