.back { 
    background-color: #8E9886;
    min-height: 650px;
}

form {
    margin: 80px auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    background-color: #218838;
}

button {
    margin-top: 20px;
}

input {
    width: 281px; 
}

label {
    padding-top: 20px;
    color: white;
}

img {
    width: 350px;
    height: 250px;
    margin-top: 80px;
    margin-right: 50px;
}

h1 {
    text-align: center;
    color: white;
}

p {
    color: white;
}