.back { 
    background-color: #eee;
    min-height: 650px;
}

form {
    margin: 80px auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

input {
    width: 281px; 
    height: 38px;
    border-radius: 3px;
    margin-bottom: 25px;
}

label {
    padding-top: 20px;
}
h2{
    color:white;
}

.custom-file-label {
    padding-top:  5px;
    width: 281px;
}
.couleur{
    background-color: #8ea638;
    padding: 20px;
    height: 80px;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.paddingfo{
    padding: 25px;
}
.form-style input[type="text"]
{
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    width: 281px; 
}
.form-style input[type="text"]:focus
{
	box-shadow: 0 0 5px #8ea638;
	padding: 3%;
	border: 1px solid #8ea638;
}
.btnAn{
    background-color: #343a40;
}
.btnVa{
    background-color: #8ea638;
}