<div id="back">
  <div class="form-style">
    <h1>Création de compte</h1>
    <form [formGroup]="connexionForm" (ngSubmit)="register()" >
      <div formGroupName="connexion">
        <input type="email" name="email" placeholder="E-mail*" formControlName="email" required />
        <div class="error" *ngIf="connexionForm.controls.connexion.controls.email.hasError('pattern')"><strong>X</strong>
          Veuillez saisir un email valide</div>
        <br>
        <input type="password" name="password" placeholder="Mot de passe*" formControlName="password" required />
        <div class="error" *ngIf="connexionForm.controls.connexion.controls.password.hasError('pattern')"><strong>X</strong>
          Veuillez saisir un mot de passe de minimum 6 caractére avec une Majuscule et un nombre</div>
        <br>
        <input type="password" name="password2" placeholder="Confirmer Mot de passe*" formControlName="password2" required />
        <div class="error" *ngIf="connexionForm.controls.connexion.controls.password2.hasError('ConfirmPassword')"><strong>X</strong>
          Veuillez confirmer votre mot de passe </div><br>
      <p>  Optionnel :</p>
      <input type="text" name="lastName" placeholder="Nom" formControlName="lastName" required />
      <input type="text" name="firstName" placeholder="Prénom" formControlName="firstName" required />
      <input type="tel" name="phone" placeholder="téléphone" formControlName="phone" required />
      <div id="divErreur" style="display:none;">Veuillez remplir tous les champs</div>
      <br>
    </div>
      <button class="btnValider" type="submit">Valider</button>
      <button class="btnAnnuler" [routerLink]="['/home']">Annuler</button>
    </form>
    <!--connexionForm.controls.connexion.controls.email.hasError('pattern')-->
    <!--<div>{{ connexionForm.value | json }}</div>-->
  </div>
</div>
