<div id="back">    
    <div class="form-style">  
      <h1>Création de compte</h1>
      <form [formGroup]="connexionForm" (ngSubmit)="register(f)" #f="ngForm">
        <div formGroupName="connexion">
          <input type="email" name="email" placeholder="E-mail" formControlName="email" required />
          <div class="error" *ngIf="connexionForm.controls.connexion.controls.email.hasError('pattern')"><strong>X</strong>
            Veuillez saisir un email valide</div>
          <br>
          <input type="password" name="mdp" placeholder="Mot de passe" formControlName="mdp" required />
          <div class="error" *ngIf="connexionForm.controls.connexion.controls.mdp.hasError('pattern')"><strong>X</strong>
            Veuillez saisir un mot de passe de minimum 6 caractére avec une Majuscule et un nombre</div>
          <br>
          <input type="password" name="mdp2" placeholder="Confirmer Mot de passe" formControlName="mdp2" />
          <div class="error" *ngIf="connexionForm.controls.connexion.controls.mdp2.hasError('ConfirmPassword')"><strong>X</strong>
            Veuillez confirmer votre mot de passe</div>
        </div>
        <div id="divErreur" style="display:none;">Veuillez remplir tous les champs</div>
        <br>
        <button class="btnValider" type="submit">Valider</button>
        <button class="btnAnnuler" [routerLink]="['/home']">Annuler</button>
      </form>
      <!--connexionForm.controls.connexion.controls.email.hasError('pattern')-->
      <!--<div>{{ connexionForm.value | json }}</div>-->
    </div>
  </div>

